<div id="header-wrapper" class=".container-fluid">
        <div id="content-wrapper" class="d-flex .flew-row align-items-end">
            <a id="homeBtn" href="/todosAtivos">
            <div id="container-left" class="p-2" style="background-image: url(/img/logoBB.png);"></div>
            </a>
            <div id="container-right" class="p-2"></div>
                <div id="text-wrapper" class="flex-column" style="margin-top: 10px;">
                    <div id="bb-wrapper" class="p-2 textBB">
                        <h1 >{{appInfo.headerBanco}}</h1>
                    </div>
                    <div id="gecor-wrapper" class="p-2 textBB">
                        <h6>{{appInfo.headerPrefixo}}</h6>
                    </div>
                </div>
        </div>
</div>